# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environment
.env
*.log
firebase/service-account.json

# Django-specific
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
local_settings.py

# Ignore deployment/startup scripts
start_gunicorn.sh