{% extends 'company/layouts/base.html' %}
{% load static %}
{% block title %}Update Outlet{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
<link rel="stylesheet" href="{% static 'utils/css/choices.css' %}">
<link rel="stylesheet" href="{% static 'utils/css/modals.css' %}">
<link rel="stylesheet" href="{% static 'company/css/update_outlets.css' %}">
{% endblock %}

{% block content %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2 align-items-center justify-content-between">
      <div class="col-sm-6">
        <h1 class="page-title">{{ LABELS.sidebar.outlet_update }}</h1>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="card shadow-sm border-0">
      <div class="card-body">
        <form id="outlet_update_form" method="POST" 
        enctype="multipart/form-data" class="px-0 py-0 mx-auto"
         style="max-width: 900px;">
          {% csrf_token %}
          <!-- Row 1 -->
          <div class="row">
            <div class="form-group col-md-6">
              <label for="name">{{ LABELS.outlet_update.outlet_name }}</label>
              <input type="text" id="name" name="name" class="form-control form-control-sm" required />
            </div>
            <div class="form-group col-md-6">
              <label for="alias_name">{{ LABELS.outlet_update.outlet_alias_name }}</label>
              <input type="text" id="alias_name" name="alias_name" class="form-control form-control-sm" required />
            </div>
          </div>
          <!-- Row 3 -->
          <div class="row">
            <div class="form-group col-md-6 col-12">
              <label for="logo">Logo</label>
              <small class="form-text text-muted mb-2">Leave blank to keep current</small>
              <input type="file" id="logo" name="logo" accept=".png,.svg" class="form-control-file" />
                <p class="mt-1"><img src="" alt="Current Logo" width="100"></p>
            </div>

            <div class="form-group col-md-6 col-12">
              <label for="menu_files">Menu Files</label>
              <small class="form-text text-muted mb-2">Upload multiple files | Leave blank to keep existing</small>
              <input type="file" id="menu_files" name="menu_files" multiple accept=".pdf,.jpg,.jpeg,.png,.svg" class="form-control-file" />
              
              <!-- container for displaying existing menu file links -->
              <div id="menu-files-container" class="mt-2"></div>
            </div>
          </div>

          <!-- Row 4 -->
          <div class="row">
            <div class="form-group col-md-6">
              <label for="place_id">Google Rating Link
                <i class="fas fa-info-circle text-secondary ml-1"
                  data-toggle="tooltip"
                  data-placement="right"
                  title="Click the 'Find Place ID' button, search for your business in the map section on that page, then copy the generated Place ID and paste it here.">
                </i>
                <a href="https://developers.google.com/maps/documentation/places/web-service/place-id"
                  target="_blank"
                  class="btn btn-sm btn-outline-secondary ml-1"
                  title="Click to find your Place ID">
                  Find Place ID
                </a>
              </label>
              <input type="text" id="place_id" name="place_id" class="form-control form-control-sm" />
            </div>
            <div class="form-group col-md-6">
              <label for="location">Location</label>
              <select name="location" id="location" class="form-control form-control-sm" required></select>
            </div>
          </div>
          {% if PROJECT_NAME != "airline_flash" %}
          <!-- Row 5 -->
          <div class="row">
            <div class="form-group col-md-6">
              <label for="business_day_start_hour">Business Day Starting Time</label>
              <input 
                type="time" 
                id="business_day_start_hour" 
                name="business_day_start_hour" 
                class="form-control form-control-sm" 
                step="1800"
                required
              />
            </div>
            <div class="form-group col-md-6">
              <label for="auto_delete_time" class="form-label">Auto-Delete Orders After (in hours)
                <i class="fas fa-info-circle text-secondary ml-1"
                  data-toggle="tooltip"
                  data-placement="right"
                  title="Choose how long orders should stay in the main system before being moved to archive. Archived orders are still available for reporting and analytics.">
                </i>
              </label>
              <select id="auto_delete_time" class="form-control" style="max-width: 300px;">
                <option value="0">Disable Auto Deletion</option>
                <option value="2">2 hours</option>
                <option value="3">3 hours</option>                                                                            
                <option value="6">6 hours</option>
                <option value="12">12 hours</option>
                <option value="24">24 hours</option>
              </select>
            </div>
          </div>
          {% endif %}
          <!-- Submit -->
          <div class="text-center mt-1">
            <button type="submit" class="btn btn-golden shadow-sm px-4 py-1">{{ LABELS.outlet_update.button }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% include "company/partials/modals.html" %}
{% endblock %}
{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
<script type="module" src="{% static 'company/js/updateOutletData.js' %}"></script>
{% endblock %}
