/* static/utils/css/base.css */
.card-header {
  background-color: var(--accordion-header);
  color: var(--text-dark);
}

.main-sidebar {
  margin-top: 10px;
  background-color: #2f2f2f !important;
}

.nav-sidebar .nav-link {
  color: #f4f4f4 !important;
  transition: background-color 0.3s ease;
}

.nav-sidebar .nav-icon {
  color: #fdbf50 !important; 
}

.nav-sidebar .nav-link.active {
  background-color: #73451c !important;
  color: #ffffff !important;
}

.nav-sidebar .nav-link.active .nav-icon {
  color: #ffffff !important;
}

.main-footer {
  background-color: #222 !important; 
  color: #d97a1f !important;        
  font-weight: 600;
  text-align: center;
  padding: 10px 0;
}
.text-golden {
  color: #d97a1f; 
}

.main-footer a {
  color: #fb8b24 !important;  
  text-decoration: none;
}

.main-footer a:hover {
  color: #fdbf50 !important;
}

.logout-link {
  color: #fd0b0f !important;
  font-weight: 600;
  transition: color 0.2s ease;
}

.logout-link:hover {
  color: #fd0b0f !important;
  text-decoration: none;
}
.brand-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #f4f4f8;
  border-bottom: 1px solid #ebebeb;
}

.brand-image {
  height: 45px;
  border-radius: 12px; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease;
}

.brand-image:hover {
  transform: scale(1.05); 
}

.customer-info {
  display: flex;
  align-items: center;
  max-width: 220px;
  font-weight: 500;
  color: #111;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.customer-name {
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 140px; /* adjust as needed */
  display: inline-block;
}

.customer-id {
  flex-shrink: 0;
  margin-left: 6px;
  color: #ed7302;
  font-weight: 600;
}
