{% extends 'companyadmin/layouts/base.html' %}
{% load static %}

{% block title %}Company List {% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'companyadmin/css/company_lists.css' %}">
<link rel="stylesheet" href="{% static 'utils/css/tables.css' %}">
{% endblock %}

{% block content %}

<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2 align-items-center justify-content-between">
      <div class="col-sm-6">
        <h1 class="page-title">{% if PROJECT_NAME == "dine_flash" or PROJECT_NAME == "dine_flash_buffet" %}Restaurant List{% else %}Company List{% endif %}</h1>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="card shadow-sm border-0"></div>
      <div class="card-body">
        <!-- Company Table -->
        <div class="table-responsive">
          <table id="companyTable" class="table table-hover table-bordered rounded shadow-sm bg-light-gray">
            <thead class="thead-light">
              <tr>
                <th>Company Name</th>
                <th>Customer ID</th>
                <th>Contact Person</th>
                <th>Phone</th>
                <th>Status</th>
                {% if PROJECT_NAME == "dine_flash" or PROJECT_NAME == "dine_flash_buffet" %}
                <th>License Start Date &amp; Time</th>
                <th>License End Date &amp; Time</th>
                {% endif %}
                <th>Licence Validate</th>
              </tr>
            </thead>
            <tbody id="company-table-body">
              <!-- Data will be populated by JavaScript -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block extra_js %}
<script type="module" src="{% static 'companyadmin/js/companyLists.js' %}"></script>
{% endblock %}