{% extends 'companyadmin/layouts/base.html' %}
{% load static %}

{% block title %}Outlet List{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'companyadmin/css/company_lists.css' %}">
<link rel="stylesheet" href="{% static 'utils/css/tables.css' %}">
{% endblock %}
{% block content %}

<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2 align-items-center justify-content-between">
      <div class="col-sm-6">
        <h1 class="page-title">Outlet List</h1>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="card shadow-sm border-0">
      <div class="card-body">
        <!-- Outlet Table -->
        <div class="table-responsive">
          <table id="outletTable" class="table table-hover table-bordered rounded shadow-sm bg-light-gray">
            <thead class="thead-light">
              <tr>
                <th>Vendor ID</th>
                <th>Outlet Name</th>
                <th>Alias Name</th>
                <th>Location</th>
                <th>Company Name</th>
              </tr>
            </thead>
            <tbody id="outlet-table-body">
              <!-- Data will be populated by JavaScript -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block extra_js %}
<script type="module" src="{% static 'companyadmin/js/outlets/outletList.js' %}"></script>
{% endblock %}